{% extends "app/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>Coming Soon</td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock_info in user_portfolio_info%}
                <tr>
                    <td>{{ stock_info.symbol }}</td>
                    <td>{{ stock_info.stock_name }}</td>
                    <td>{{ stock_info.quantity }}</td>
                    <td>{{ stock_info.price }}</td>
                    <td>{{ stock_info.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
