{% extends "app/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Profit/Loss</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>Coming Soon</td>
            </tr>
        </tfoot>
        <tbody>
            {% for info in user_info %}
                <tr>
                    <td>{{ info.symbol }}</td>
                    <td>{{ info.stock_name }}</td>
                    <td>{{ info.quantity }}</td>
                    <td>{{ info.current_price}}</td>
                    <td>{{ info.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
